<div style="text-align:center">
  <h1 class="main-h1">
    Basic Chat App
  </h1>
</div>
<div class="main-section">
  <div class="container">
    <div class="chat-container">
      <div class="col-sm-3 chat-sidebar">
        <div class="row">
          <div class="dropdown all-conversation">
            <div class="users-head" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="fa fa-weixin" aria-hidden="true"></span> All Conversations
            </div>

          </div>
          <div class="users">
            <ul class="list-unstyled">
              <li class="left clearfix" [ngClass]="{'current-chat': currCompanyUserId === user.id}" (click)="chooseChat(user.id)" *ngFor="let user of users">
                <span class="chat-img pull-left">
                     <img src="https://www.techinasia.com/assets/images/profile/icon-defaultprofile.png" alt="User Avatar" class="img-circle">
                     </span>
                <div class="chat-body clearfix">
                  <div class="header-sec">
                    <strong class="primary-font">{{user.name}}</strong>


                    <!-- <span class="badge pull-right">3</span> -->
                  

                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-9 message-section">
        <div class="row">
          <div class="conversation-head">
            <div class="pull-left">
              You: {{user.name}}
            </div>
            <div class="pull-right">
              <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-cogs" aria-hidden="true"></i> Settings
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                  <li><a href="#" (click)="logout($event)">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="chat-area">
            <ul class="list-unstyled">

              <li class="left clearfix" *ngFor="let message of messages">
                <div [ngClass]="{'pull-right' : (user.id == message.userId), 'pull-left' : (user.id != message.userId)}"  style="padding: 0px 0px 3px 0px">
                  <span *ngIf="user.id == message.userId; else userName">
                    You &nbsp;
                  </span>
                  <ng-template #userName>
                    <span>
                      {{message.userName}}  
                    </span>
                  </ng-template>
                </div>
                <div class="clearfix"></div>
                <span class="chat-img1" [ngClass]="{'pull-right' : (user.id == message.userId), 'pull-left' : (user.id != message.userId)}">
                     <img src="https://www.techinasia.com/assets/images/profile/icon-defaultprofile.png" alt="User Avatar" class="img-circle">
                     </span>
                <div class="clearfix" [ngClass]="{'chat-body2' : (user.id == message.userId), 'chat-body1' : (user.id != message.userId)}">
                  <p>
                    {{message.text}}
                    <span class="pull-right" *ngIf="!message.isRead">
                      &#9732;
                    </span>
                  </p>
                  <div class="chat-time pull-right">{{message.time}}</div>
                </div>
              </li>
              <li class="left clearfix">
            </ul>
          </div>
          <div class="message-write">
            <form [formGroup]="sendForm" (ngSubmit)="sendMessage()">
              <input type="text" class="form-control chat-message-input" name="message" placeholder="type a message" formControlName="message" required="" autofocus="" />
              <button class="btn btn-lg btn-primary btn-block" [disabled]="!sendForm.valid" type="submit">Send</button>   
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>