textarea {
  resize: none;
}
.current-conversation {
  background: #098dff none repeat scroll 0 0;
  color: #fff;
}
.all-conversation button {
  background: #f5f3f3 none repeat scroll 0 0;
  border: 1px solid #dddddd;
  height: 38px;
  text-align: left;
  width: 100%;
}
.all-conversation .users-head {
  background: #f5f3f3 none repeat scroll 0 0;
  border: 1px solid #dddddd;
  height: 56px;
  text-align: left;
  width: 100%;
  padding: 18px 10px;
}
   .all-conversation i {
   background: #e9e7e8 none repeat scroll 0 0;
   border-radius: 100px;
   color: #636363;
   font-size: 17px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   width: 30px;
   }
   .all-conversation .caret {
   bottom: 0;
   margin: auto;
   position: absolute;
   right: 15px;
   top: 0;
   }
   .all-conversation .dropdown-menu {
   background: #f5f3f3 none repeat scroll 0 0;
   border-radius: 0;
   margin-top: 0;
   padding: 0;
   width: 100%;
   }

   .all-conversation ul li {
   border-bottom: 1px solid #dddddd;
   line-height: normal;
   width: 100%;
   }
   .all-conversation ul li a:hover {
   background: #dddddd none repeat scroll 0 0;
   color:#333;
   }
   .all-conversation ul li a {
  color: #333;
  line-height: 30px;
  padding: 3px 20px;
}
   .users .chat-body {
   margin-left: 47px;
   margin-top: 0;
   }
   .top-nav {
   overflow: visible;
   }
   .users .contact-sec {
   margin-top: 3px;
   }
   .users li {
   padding: 6px;
   }
   .users ul {
   }
   .chat-img img {
   height: 34px;
   width: 34px;
   }
   .users li {
   border-bottom: 1px solid #dddddd;
   padding: 6px;
   }
   .users li:last-child {
   }
.users {
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #dddddd;
}
   .sub-menu- {
  background: #e8e6e7 none repeat scroll 0 0;
  left: 100%;
  max-width: 233px;
  position: absolute;
  width: 100%;
}
.sub-menu- {
  background: #f5f3f3 none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: none;
  left: 100%;
  margin-left: 0;
  max-width: 233px;
  position: absolute;
  top: 0;
  width: 100%;
}
.all-conversation ul li:hover .sub-menu- {
  display: block;
}
.conversation-head button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
.conversation-head {
  background: #f5f3f3 none repeat scroll 0 0;
  float: left;
  font-size: 13px;
  font-weight: 600;
  padding: 18px 10px;
  width: 100%;
}
.message-section {
  border: 1px solid #dddddd;
}
.chat-area {
  float: left;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.chat-area li {
  padding: 14px 14px 0;
}
.chat-area li .chat-img1 img {
  height: 40px;
  width: 40px;
}
.chat-area .chat-body1 {
  margin-left: 50px;
}
.chat-body1 p {
  background: #fbf9fa none repeat scroll 0 0;
  padding: 10px;
}
.chat-area .admin-chat .chat-body1 {
  margin-left: 0;
  margin-right: 50px;
}
.chat-area li:last-child {
  padding-bottom: 10px;
}
.message-write {
  background: #f5f3f3 none repeat scroll 0 0;
  float: left;
  padding: 15px;
  width: 100%;
}

.message-write textarea.form-control {
  height: 70px;
  padding: 10px;
}
.chat-bottom {
  float: left;
  margin-top: 13px;
  width: 100%;
}
.upload-btn {
  color: #777777;
}
.sub-menu- > li a, .sub-menu- > li {
  float: left;
  width:100%;
}
.users li:hover {
  background: #afdaff none repeat scroll 0 0;
  color: #fff;
  cursor:pointer;
}